{{#models}}{{#model}}

import Foundation
import TIFoundationUtils

{{#description}}

/** {{description}} */{{/description}}
{{#isArrayModel}}
{{> modelArray}}
{{/isArrayModel}}
{{^isArrayModel}}
{{#isEnum}}
{{> modelEnum}}
{{/isEnum}}
{{^isEnum}}
{{#isAlias}}
public typealias {{classname}} = {{dataType}}
{{/isAlias}}
{{^isAlias}}
{{> modelObject}}
{{/isAlias}}
{{/isEnum}}
{{/isArrayModel}}
{{/model}}
{{/models}}
